/*Global layout styles*/
* {
	box-sizing: border-box;
}

/*Color scheme: http://paletton.com/#uid=23+0u0kobl+f0uRkcpQsuhJ-dcl*/
body {
	color: #005A66;
	font-family: "Noto Serif", serif;
	margin: auto;
	width: 100%;
}

/*-----------Header and Banner Styling-----------*/

header {
	background-color: #5199a3;
	color: #ffffff;
	max-width: 100%;
	padding: 1em 0;
	text-align: center;
	text-transform: uppercase;

}

.banner {

	border-bottom: 4px solid;
	margin: auto;
	padding: 1.5em;
	text-align: center;
	width: 98%;
}

/*-----------Form Styling-----------*/

.contact,
.newsletter {
	background-color: #ddf5f8;
}

.contact {
	border-top: 2px solid;
	border-bottom: 2px solid;
	margin-top: 3px;
	margin-right: auto;
	margin-left: auto;
	width: 98%;
}

.newsletter {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
}

fieldset {
	border: none;
	margin: auto;
	margin-top: 2px;
}

.fieldset-header {
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 1.5em auto;
}

label {
	display: inline-block;
	margin: .75em auto;
	vertical-align: middle;
}

input[disabled]{
	color: #999999;
}

input[type="text"],
input[type="email"],
input[type="tel"], 
textarea,
select {
	background-color: #B0E0E6;
	border: none;
	border-radius: 5px;
	color: #999999;
	font-family: "Noto Serif", serif;
	height: 4em;
	outline: none;
	padding: 1em;
	resize: none;
	width: 100%;
	-webkit-appearance:none;
	-moz-appearance: none;
}

input[type="checkbox"] {
	display: inline-block;
	padding-right: 1em;
	vertical-align: middle;
}

input[type="radio"] {
	display: inline-block;
	padding-right: 1em;
	vertical-align: middle;

}

input[id="zip"]{
	display: block;
	margin-bottom: 1.5em;
	width: 50%;
}

textarea[name="news_topics"] {
	height: 8em;
}

::-moz-placeholder {
	color: #999999;
	font-style: italic;
	font-size: .8em;
	text-align: right;
}

::-webkit-input-placeholder {
	color: #999999;
	font-style: italic;
	font-size: .8em;
	text-align: right;
}

.newsletter-input {
	padding-left: 1em;
}

input:hover,
textarea:hover,
select:hover {
	background-color: #ffbb7c;
	transition: 1s;
}

input:focus,
textarea:focus,
select:focus {
	border: 3px solid #005A66;
	color: #000000;
}

.subhead {
	display: block;
	margin-bottom: 1em;
}

#submit {
	background-color: #090945;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	font-size: 1.5em;
	margin: 1em auto;
	padding: .75em 0;
	width: 100%;
}

#submit:hover {
	background-color: #FF7A00;
	transition: .5s;
}
/*-----------Footer Styling-----------*/

footer {
	font-style: italic;
	text-align: center;
}

/*------------MEDIA QUERIES(Min-Width-768px----------*/

@media(min-width: 768px) {

	body {
		font-size: .8em;
		max-width: none;
	}

	.banner,
	.contact {
		max-width: 600px;
	}

	.newsletter {
		margin: auto;
		max-width: 600px;
	}

	.fieldset-header {
		margin: 3em 0 1em;
	}
	.contact label {
		margin: .6em 0;
		width: 30%;
	}

	.contact input,
	.contact select {
		display: inline;
		margin: .6em 0;
		width: 69%;
	}

	input[id="zip"]{
		margin: .5em 0 2.5em 0;
		width: 30%;
	}

	textarea[name="news_topics"] {
		height: 5em;
	}
}





